body {
  background-color: rgb(255, 255, 255);
  font: 400 1.063em/1.5 Lato;
  color: rgb(60, 60, 70);
}

.content {
  width: 960px;
  height: 296px;
  margin: 661px auto 0;
  display: flex;
display: -ms-flexbox;
display: -moz-box;
display: -webkit-box;
display: box;
align-items: flex-start;
text-align: left;
vertical-align: top\9;
-ms-flex-pack: top;
-ms-flex-align: top;
-moz-box-pack: top;
-moz-box-align: top;
-webkit-box-pack: top;
-webkit-box-align: top;
box-pack: top;
box-align: top;
}

.content .teaser {
  position: relative;
  width: 470px;
  color: rgb(60, 60, 70);
}

.fix {
  float: left;
  width: 100%;
  height: 80px;
  background-color: rgb(242, 242, 244);
}

.logo {
  display: block;
  float: left;
  width: 115px;
  height: auto;
  margin-top: 17px;
  overflow: hidden;
}

.teaser {
  float: left;
}

.teaser-content {
  width: 960px;
  height: 283px;
  margin: 78px auto 0;
}

.teaser-content .teaser {
  color: rgb(60, 60, 70);
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 163px;
  height: 46px;
  margin-top: 26px;
  padding-left: 52px;
  border-radius: 3px;
  background-image: url('../images/download(2).svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 8% 50%;
  font-size: 0.941em;
  font-weight: 400;
  line-height: 1.38;
  text-align: left;
  color: rgb(242, 242, 244);
}

._text {
  display: inline-block;
  float: left;
  padding: 5px 12px;
  font-size: 1em;
  line-height: 1.38;
  text-transform: uppercase;
}

.teaser-1 {
  clear: both;
  width: 100%;
  height: 500px;
  background-image: url('../images/DSCF0014-k.jpg');
  background-size: cover;
  background-position: 50% 82%;
}

.teaser-2 {
  display: inline-block;
  margin-top: 2px;
  font-size: 1.647em;
  font-weight: 700;
}

.teaser-3 {
  clear: both;
  width: 35%;
  margin-top: 16px;
  font-size: 1em;
  font-weight: 400;
}

.teaser-4 {
  display: inline-block;
  font-size: 1.647em;
  font-weight: 700;
  margin-left: 19px;
}

.teaser-5 {
  display: inline-block;
  font-size: 1.647em;
  font-weight: 700;
}

.teaser-6 {
  clear: both;
  margin-top: 16px;
  font-size: 1em;
  font-weight: 400;
}

.teaser-7 {
  margin: 16px 0 0 19px;
  font-size: 1em;
  font-weight: 400;
}

.teaser-fix {
}

.fix ._container-1 {
  width: 960px;
  height: 80px;
  margin: 0 auto;
}

.fix ._container-2 {
  float: right;
  width: 520px;
  margin-top: 26px;
}

.fix ._container-3 {
  float: left;
  width: 520px;
  margin-top: 2px;
}

.fix ._text-1 {
  margin-left: 87px;
  color: rgb(60, 60, 70);
}

.fix ._text-2 {
  margin-left: 20px;
  border-radius: 3px;
  background-color: rgb(250, 50, 100);
  color: rgb(242, 242, 244);
}

.fix ._text-3 {
  margin-left: 20px;
  color: rgb(60, 60, 70);
}

.teaser-content ._button-1 {
  clear: both;
  z-index: 8;
  background-color: rgb(100, 160, 80);
}

.teaser-content ._button-2 {
  z-index: 11;
  margin-left: 20px;
  background-color: rgb(80, 110, 160);
}

#bound {
  display: -webkit-box;
}

@media only screen and (max-width: 960px) {
  .content {
    display: block;
    width: 92%;
    margin: 480px auto;
  }
  .teaser-7 {
    margin: 20px 0 0 0;
  }
  .teaser-4 {
    margin: 40px 0 0 0;
  }
  .teaser-content {
    width: 92%;
    margin: 0 auto;
  }
  .teaser-3 {
    width: 100%;
  }
  .teaser-2 {
    margin-top: 40px;
  }
  .teaser-1 {
    height: 320px;
  }
  .fix {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .fix ._container-1 {
    width: 100%;
    height: auto;
    background: rgb(242, 242, 244);
  }
  header img {
    margin: 0 auto;
  }
  .logo {
    float: none;
    padding: 20px 0;
  }
  .fix ._text-1 {
    margin-left: 0;
  }
  ._text {
    float: none;
  }
  .fix ._container-3, .fix ._container-2 {
    text-align: center;
    width: 100%;
  }
  ._container-2 {
    margin: 0 !important;
    padding: 20px 0 40px 0;
  
  }
}

@media only screen and (max-width: 480px) {
  body {
  }
  .content .teaser {
    width: 92%;
  }

  .teaser-1 {
    display: none;
  }
  .content {
    width: 92%;
    margin: 140px auto;
  }
  .fix ._text-1, .fix ._text-2, .fix ._text-3 {
    margin-left: 0px;
  }
}





