form{

	// Wrap each form input/element in a field div
	.field{
		margin-bottom:$padding/2;
	}
	label{
		display:block;
		margin-bottom:5px;
	}
	input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
		@include box-shadow(inset 0 1px 2px rgba(0,0,0,.05));
		width:100%;
		padding:5px;
		outline:none;
		&:focus{
			border-color:rgba(60,60,70,0.5);
		}
		&.auto{
			width:auto;
		}
	}

	input[type=search], textarea {
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
		@include border-radius(4px);
		padding: 0 20px;
		border: 1px solid rgba(60,60,70,0.25);
		outline: none;
		height: 54px;
		width: 440px;
		-webkit-appearance: none;
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0);
		-webkit-transition: 0s ease-in-out;
		-moz-transition: 0s ease-in-out;
		-o-transition: 0s ease-in-out;
		transition: 0.4s ease-in-out;
		@include responsive($small-break) {
			height: 48px;
			padding: 0 12px;
			width: 90%;
		}
	}

	.search-submit {
		background: #414141 url("../images/search-icon.svg") center center no-repeat;
		background-size: 100% 100%;
		width: 56px;
		height: 56px;
		vertical-align: middle;
		outline: 0;
		border: 0;
		position: relative;
		margin-left: -56px;
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		-ms-border-radius: 0 4px 4px 0;
		-o-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
		@include responsive($small-break) {
			width: 50px;
			height: 50px;
			margin-left: -48px;
		}
	}

	// Notes go under the input fields
	.note{
		margin-top:5px;
		color:$subtle-color;
	}

	// Required label
	.req{
		font-style: italic;
	}

	// Validation, add error class to the item div
	.error{

		// Validation reason
		.reason{
			margin-top:5px;
			color:$bad-color;
		}
		input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
			border-color:$bad-color;
		}
	}
}