// Text links
a{
	color:$sec;
  text-decoration: none;
	&:hover,&:focus{
		text-decoration:none;
	}
}


// Default button
.btn{
  @include border-radius($btn-br);
  background: $tert;
  border:none;
  color:#fff;
  text-decoration:none;
  text-shadow:0 1px 2px rgba(0,0,0,.2);
  display:inline-block;
  line-height:1;
  padding:12px 25px;
  text-transform: capitalize;
  // @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 5px rgba(0,0,0,.05),0 1px 2px rgba(0,0,0,.2));
  outline:none;
  &:hover,&:focus{
    background:darken($tert,5);
    text-decoration: none;
    // @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 10px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.2));
  }
  &:active{
    background:darken($tert,10);
    // @include box-shadow(inset 0 1px 2px rgba(0,0,0,.2));
  }
}

.button {
  display: inline;
  position: relative;
  width: auto;
  height: 46px;
  margin: 6px 20px 0 0;
  padding: 0 16px 0 52px;
  border-radius: 3px;
  background-image: url('../images/download.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 11px 50%;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.38;
  text-align: left;
  color: rgb(242, 242, 244);
  outline: 0;
  border: 0;
  // transition: all .1s linear;
  &.ff {
    clear: both;
    background-color: rgb(100, 160, 80);
  }
  &.chrome {
    clear: both;
    background-color: rgb(80, 110, 160);
  }
  // &:hover {
  //   background-size: 36px 36px;
  //   background-position: 6.5% 50%;
  // }
  &:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }
  &:focus {
    background-image: url('../images/download-action.svg');
    box-shadow: inset 0 -1px 16px rgba(0,0,0,0.4);
  }
  @include responsive($small-break) {
    width: 220px;
  }
}

// Primary action button
.btn-primary{
  @extend .btn;
  background-color:$prime;
  &:hover,&:focus{
    background-color:darken($prime,5);
  }
  &:active{
    background-color:darken($prime,10);
  }
}

// Secondary action button
.btn-secondary{
  @extend .btn;
  background-color:$sec;
  &:hover,&:focus{
    background-color:darken($sec,5);
  }
  &:active{
    background-color:darken($sec,10);
  }
}

// Call to action - slightly bigger
.btn-cta{
  font-size:1.6em;
  padding:.8em 1.6em;
}

// Link button - a button that looks like a link
.btn-link{
  @extend .btn;
  color:$prime;
  background:transparent;
  border:none;
  text-shadow:none;
  text-transform:none;
  @include box-shadow(none);
  &:hover,&:focus{
  	text-decoration:underline;
    background:transparent;
  	@include box-shadow(none);
  }
  &:active{

  }
}